*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-header{
    background: linear-gradient(to right, #4C58FF,#DA3EF5);
}
.cover-photo{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.profile img{
    z-index: 1;
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: -55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#padding{
    padding-bottom: 18px;
}
.box-shadow{
    box-shadow: 10px 10px 40px rgb(49, 46, 46);
}